<html>
    <title>
        hey
    </title>
    <head>hello</head>
    <body>
        <h1>hey there </h1>
        {{#each pages}}
        <a href="{{url}}">{{number}}</a>
        {{/each}}
        <ul>
            {{#each users}}
            <li>{{name}}</li>
            {{/each}}
        </ul>
        
    </body>

</html>